# Node.js dependencies
node_modules/

# Logs
*.log

# Environment files
.env

# macOS system files
.DS_Store

# Vscode settings
.vscode/

# Coverage folder (for testing frameworks)
coverage/

# Build output
dist/
